<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <div>
    <h1 class="text-center">새 할 일</h1>
    <form action=" {% url 'todos:create' %} " method="GET">
      <div>
        <label for="title">할 일 제목</label><br>
        <input class="form-control" type="text" name="title" id="title">
      </div>
      <div>
        <label for="content">할 일 내용</label><br>
        <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
      </div>
      <div>
        <label for="priority">우선 순위</label><br>
        <input class="form-control" type="number" name="priority" id="priority">
      </div>
      <div>
        <label for="deadline">할 일 제목</label><br>
        <input class="form-control" type="date" name="deadline" id="deadline">
      </div>
      <input class="mt-2 form-control" type="submit" name="">
    </form>
  </div>
  <button style="margin-left: 50%; margin-top: 30px;">
    <a class="text-body llink-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'todos:index' %}">돌아가기</a>
  </button>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>