{% extends "base.html" %}
{% block content %}
  <h3>DETAIL</h3>
  <p>
    후기 번호 -
    {{review.pk}}
  </p>
  <p>
    후기 제목 -
    {{review.title}}
  </p>
  <p>
    후기 내용 -
    {{review.content}}
  </p>
  <p>
    영화 이름 -
    {{review.movie}}
  </p>

  {% if request.user == review.user %}
  <form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="delete">
  </form>
  <a href="{% url 'reviews:update' review.pk %}">[update]</a>
  {% endif %}

  <a href="{% url 'reviews:index' %}">[back]</a>
  <hr>

  <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글 작성">
  </form>
  <hr>
  <h3>
    댓글 목록
  </h3>
  {% for comment in comments %}
    <div>
      <p>댓글 번호 -
        {{ comment.pk }}</p>
      <p> 닉네임 -
        {{ comment.user.username }}
      </p>
      <p>
        댓글 내용 -
        {{comment.content}}
      </p>

      {% if request.user == comment.user %}      
      <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>
      {% endif %}
    </div>
    <hr>
  {% endfor %}
{% endblock content %}
